<nav>
  <div class="nav-wrapper teal accent-4">
    <a href="/" class="brand-logo center indigo-text text-lighten-5">Cardle</a>
  </div>
</nav>

<% flash.each do |type, message| %>
  <script>
  // Materialize.toast(message, displayLength, className, completeCallback);
  $(function() {
      Materialize.toast("<%= message %>", 10000);
    });
  </script>
<% end %>
