<%= render partial: "shared/navbar" %>

<div class="welcome-background">

  <div class="container">
    <div class="row">
    </div>
    <div class="row">
    </div>
    <h1 class="indigo-text text-lighten-5">Welcome To <strong> Cardle </strong></h1>
    <h4 class="indigo-text text-lighten-5">The elite <strong>information</strong> management system.</h4>
    <div class="row">
    </div>
    <div class="row">
      <a class="waves-effect waves-light btn" href="/login">Login</a>
      <a class="waves-effect waves-light btn" href="/signup">Sign Up <i class="material-icons right">thumb_up</i></a>
    </div>
    <div class="row">
    </div>
  </div>
</div>
